* {
	margin: 0;
	padding: 0;
}

body {
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

.container {
	width: 100%;
	height: 82px;
	background-color: rgba(250, 248, 241, 1);
}

.header-logo {
	font-size: 32px;
	padding: 19px 30px 19px 73px;
	float: left;
	letter-spacing: 7.5px;
}

.header-list {
	padding-right: 7%;
	box-sizing: border-box;
	font-size: 18px;
}

.header-list li{
	float: right;
	margin-top: 27px;
	margin-right: 40px;
}
.header-list li a {
	color: rgb(124, 108, 80);
}

.content-top {
	width: 100%;
	height: 650px;
	background-image: url(unnamed.jpg);
	background-attachment: fixed;
	background-size: cover;
	z-index: 1;
	margin: 0 auto;
}

.isi {
	width: 1149px;
	height: 650px;
	color: white;
	float: left;
	transform: translateY(205px);
	text-align: center;
}

.isi h1 {
	font-size: 100px;
	font-weight: normal;
}

.isi p {
	font-size: 36px;
}

.side-top{
	float: left;
	height: 650px;
	width: 200px;
	padding-top: 300px;
	background-color: rgba(250, 248, 241, 1);
	box-sizing: border-box;
}

.side-top p {
	font-size: 20px;
	transform: rotate(270deg);
	font-family: Arial,Helvetica,sans-serif;
	color: rgb(124, 108, 80);
}

.main .heading {
 	max-width: 800px;
	padding-top: 70px;
	font-size: 20px;
 	margin: auto;
 }

 .main .heading h1 {
 	font-weight: normal;
 	text-align: center;
 	border-bottom: 2px solid #131517;
 	width: 600px;
 	margin: auto;
 }

 .main {
 	width: 100%;
	background-color: rgba(250, 248, 241, 1);
	height: auto;
}

.main-item {
	max-width: 900px;
	margin: 0 auto;
} 

.isi-produk {
	padding: 20px;
	box-sizing: border-box;
	height: 300px;
}
.isi-produk img {
	width: 239px;
	height: 180px;
}

.isi-produk p {
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
}

.bot-wrapper {
	width: 100%;
	height: auto;
	background-image: url(BGD.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 120px 0;
}

.bot {
	width: 626px;
	height: 486px;
	margin: auto;
	border: 2px solid #F1F8FA;
	text-align: center;
	background-color: rgba(250, 248, 241, 1);
}

.bot-wrapper .bot .title {
	font: 48px/1.4em Arial,Helvetica,sans-serif;
	width: 577px;
	height: 106px;
	letter-spacing: 3px;
}

#tlt {
	position: relative;
	margin: 81px 0px 20px 0;
	left: 24px;
}

.bot-wrapper .bot p {
	width: 450px;
	height: 72px;
	pointer-events: auto;
	word-wrap: break-word;
	line-height: 1.5em;
	font-size: 20px;
}

#txt {
	position: relative;
	margin: 0px 0px 35px 0;
	left: 103px;
	justify-self: start;
	align-self: start;
}

.bot input {
	border: none;
	padding: 18px 25px;
	font-family: "montserrat", sans-serif;
	text-transform: uppercase;
	border-radius: 6px;
	color: #eee;
	background-size: 400%;
	font-weight: bold;
	box-sizing: border-box;
	font-size: 20px;
	animation: animate 5s linear infinite;
}

.click {
	background-image: linear-gradient(90deg ,#8B4513, #D2B48C, #CD853F, #A0522D);
}

.bot input:hover {
	animation: paused;
	opacity: 0.9;
	color: #fff;
	cursor: pointer;
}

@keyframes animate {
	0% {
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}

.contact {
	width: 100%;
	height: 300px;
	background-color: black;
	color: #eee;
	font-size: 23px;
}

.box-contact {
	max-width: 550px;
	height: 200px;
	margin: auto;
	padding: 80px;
}

.box-contact .address {
	float: left;
}

.box-contact .kontak {
	float: right;
}

.contact h2{
	font-weight: normal;
	padding-bottom: 10px;
}

footer {
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 25px;
	background-color: rgba(98, 97, 94, 0.7);
	color: #131517;
}